@charset "utf-8";
:root{
	--bd-font-color:#383e45;
}

html{
	font-size: 100%;
}

body{
	color:var(--bd-font-color);
	font-size:0.9rem;
}

section{
    margin:30px 0 30px 5px;

}
section > p::before {
    content:'\01f980';
}
details summary::before {
    content: '✚';
    margin-right: 10px;
}
summary {
    display: block;
}

#sticky {
    position: sticky;
    top: 10px;
    margin: 33px 0;
    height: 51px;
}
#sticky h3.title{
    position: static;
    top: 0;
    margin: -1px 0 0;
    padding: 0 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: fit-content;
    height: 50px;
    background-color: #eee;
}
#sticky h3.border{
    position: sticky;
    top: 61px;
    margin:0;
    padding: 0 10px;
    width: fit-content;
    height: 1px;
    background-color: black;
    color: transparent;
}